pkgbase = mysql-utilities
	pkgdesc = A collection of command-line utilities that are used for maintaining and administering MySQL servers
	pkgver = 1.4.3
	pkgrel = 1
	url = http://dev.mysql.com/downloads/tools/utilities/
	arch = any
	license = GPL
	depends = python2
	depends = python2-sphinx
	depends = python2-jinja
	depends = python2-mysql-connector
	options = !emptydirs
	source = http://cdn.mysql.com/Downloads/MySQLGUITools/mysql-utilities-1.4.3.tar.gz
	sha256sums = 785f7b78ba73280c6598f63bc052a88a7e97786566dae787a5457f039864dcb7

pkgname = mysql-utilities

