pkgbase = mysql-utilities
	pkgdesc = A collection of command-line utilities that are used for maintaining and administering MySQL servers
	pkgver = 1.5.5
	pkgrel = 1
	url = http://dev.mysql.com/downloads/tools/utilities/
	arch = any
	license = GPL
	depends = python2
	depends = python2-sphinx
	depends = python2-jinja
	depends = python2-mysql-connector
	options = !emptydirs
	source = http://cdn.mysql.com/Downloads/MySQLGUITools/mysql-utilities-1.5.5.tar.gz
	sha256sums = c320bfbc82844866d4fbe3bfa366e028ff1cff44cd56a5b1a48e875f1cb0db05

pkgname = mysql-utilities

