pkgbase = mysql-utilities
	pkgdesc = A collection of command-line utilities that are used for maintaining and administering MySQL servers
	pkgver = 1.4.4
	pkgrel = 1
	url = http://dev.mysql.com/downloads/tools/utilities/
	arch = any
	license = GPL
	depends = python2
	depends = python2-sphinx
	depends = python2-jinja
	depends = python2-mysql-connector
	options = !emptydirs
	source = http://cdn.mysql.com/Downloads/MySQLGUITools/mysql-utilities-1.4.4.tar.gz
	sha256sums = 8dd86095ce2736d3adbccdc1eed3f4a3ad1377bc8af445198db553ab6db9e8f6

pkgname = mysql-utilities

